{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "bracketSameLine": false,
  "organizeImportsSkipDestructiveCodeActions": false,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
